@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
    width: 5px; 
    height: 8px;
  }
  
  .no-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .no-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
@media (min-width: 1536px){
    .container.button-container{
        max-width: calc(1536px - 203px)!important;
    }
}